html
{
	min-height: 100%;
}

body
{
	background-color: #080808;
}

div.front
{
	height: 100vh;
	overflow: scroll;
	background-image: url("../Media/Blogs/background_main.jpg");
	background-repeat: no-repeat;
	align-content: center;
	background-size: cover;
	background-position: center center;
	padding-right: 40vw;
	padding-left: 3vw;
}

div.invFront
{
	height: 100vh;
	overflow: scroll;
	background-image: url("../Media/Blogs/background_individual.webp");
	background-repeat: no-repeat;
	align-content: center;
	background-size: cover;
	background-position: center center;
}

h1.title
{
	padding-top: 8vh;
	color: white;
	font-family: cursive;
	font: Snell Roundhand;
	font-size: 13vmax;
	text-align: center;
	color: white;
}

h1.intro
{
	padding-left: 2vw;
	padding-right: 2vw;
	color: white;
	font-family: fantasy;
	font: Stencil Std;
	font-size: 5vmax;
	text-align: center;
	color: white;
	padding-bottom: 20vh;
}

.container
{
	width: 100%;
	text-align: center;
}

a.list
{
	font-family: fantasy;
	font: Luminari;
	color: white;
	font-size: 3vmax;
	text-decoration: none;
}

a.reference
{
	color: white;
}
h1.heading
{
	padding-left: 2vw;
	padding-right: 2vw;
	color: white;
	font-family: fantasy;
	font: Stencil Std;
	font-size: 5vmax;
	text-align: center;
	color: white;
	padding-bottom: 5vh;
}

h1.content
{
	font-family: cursive;
	font-size: 3vmax;
	color: white;
}